.idea
.directory
data/cache/
data/logs/
data/uploads/
data/Zombaio_Data/
data/DoctrineORMModule/
!data/DoctrineORMModule/Migrations
public/files/accounts/
config/autoload/*.local.php
config/autoload/local.php
public/uploads/*
public/uploaded/*
module/Crud/src/Crud/*.php.new
node_modules
zf1/application/configs/application.ini
vendor/
!module/Application/assets/vendor
magento
config/development.config.php