{% if rows|length == 0 %}
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">
            No photo uploaded yet!
        </div>
    </div>
{% else %}

    {% for album in rows %}
        {% include 'album/item' %}
    {% endfor %}
{% endif %}
