{% extends 'layout/frontend' %}

{% block content %}

    {% set useless = paginator(paginator) %}

    <div class="row">
        <div class="club-page form-group" id="clips-list">
            <div class="col-lg-12 col-sm-12 col-xs-12" data-type="infinite">
                {% include 'partial/video' with {'videos' : paginator.getPaginator().getCurrentItems()}%}
            </div>
        </div>
    </div>

    {{ paginationControl(paginator.getPaginator(), 'Sliding', 'slide-paginator') }}

{% endblock %}
