<div class="container-like">

    <button id="button-container-unlike" class="option" value="0">
        <span class="thumbs-down"></span>
    </button>
    <button id="button-container-like" class="option" value="1">
        <span class="thumbs-up"></span> Like
    </button>
    <div class="stats"></div>

    <input type="hidden" id="item" value="{{ item }}">

    <input type="hidden" id="item_type" value="{{ itemType }}">

</div>