{% extends 'layout/profile' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Wall Messages</div>
                <div class="panel-body">
                    {{ commentCustom('default', 1, user.getGuestbook() ?: 'null', user.getId()) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}