{% extends 'layout/layout_base.twig' %}

{% block content %}
    <div class="hero-unit">
        <h1>Welcome to Xexposed Store</h1>

    </div>
    <div class="row">
        <div class="span4">
            <h2>Promote1</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in scelerisque lacus. Nunc adipiscing
                sodales eros commodo scelerisque. Donec non lacus arcu. Sed quis commodo velit, in vulputate lectus.
                Proin malesuada ullamcorper odio in euismod. Phasellus ornare nisl eu turpis auctor, in tincidunt urna
                feugiat. Aliquam in eros at purus vehicula ultrices quis sed turpis. Nulla sed libero leo. Etiam tempor
                ut metus vel tempus. Curabitur ac tempor elit. Etiam ligula turpis, dictum quis eros vel, eleifend
                ornare metus. Etiam sit amet tincidunt orci.
            </p>

        </div>
        <div class="span4">
            <h2>Promote2</h2>

            <p>
                Vivamus tincidunt facilisis risus, in lacinia leo pretium non. Integer sit amet eros a metus condimentum
                consectetur sit amet vitae est. Morbi sagittis quis nisl ac varius. Praesent pulvinar malesuada
                facilisis. Mauris at ultricies dui. Vestibulum sagittis condimentum adipiscing. Vivamus interdum
                ultrices faucibus. Sed lorem lorem, aliquet eu viverra fringilla, cursus at ante.
            </p>
        </div>
        <div class="span4">

            <h2>Promote3</h2>

            <p>
                Integer eu scelerisque nisl. Cras accumsan molestie venenatis. Suspendisse id posuere libero. Quisque
                elementum egestas purus. Proin consectetur fringilla dui et scelerisque. Proin dignissim tellus quis
                urna blandit scelerisque. Vivamus eros odio, tristique tristique semper vitae, mollis et nibh. Donec
                tristique, augue eget mollis mattis, dolor turpis sodales est, vitae pharetra ante diam quis sapien.
                Fusce pellentesque diam nec eros gravida, vitae porta enim pretium. Sed nec diam vitae justo commodo
                blandit non ac nulla.
            </p>

        </div>
    </div>

{% endblock content %}
